**/bin/
**/obj/
**/*.user
**/*.suo
**/*.swp
**/*.tmp
**/.vs/
**/.vscode/
**/node_modules/
**/*.Secrets.json
**/*.Local.json
# Docker
Dockerfile*
nginx.conf
# Keep project files:
!YourBlazorWasmProject/**