.row {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers vertically if needed */
    position: relative;      /* Allows absolute positioning */
}

.side-left {
    position: absolute;
    left: 20px; /* or right: 0; for right alignment */
}

.side-right {
    position: absolute;
    right: 8px; /* or right: 0; for right alignment */
}

.side-right-card {
    position: absolute;
    right: 2px; /* or right: 0; for right alignment */
}

.side-left-card {
    position: absolute;
    left: 2px; /* or right: 0; for right alignment */
}

.center {
    margin: 0 auto; /* Ensures it's centered */
}
